@model IEnumerable<UserViewModel>
@{
    ViewBag.Title = "User Management";
    var provinces = ViewBag.Provinces as List<Province>;
    var districts = ViewBag.Districts as List<District>;
    var wards = ViewBag.Wards as List<Ward>;
}
<br />
<h3 class="display-4 text-success text-center">QUẢN LÝ TÀI KHOẢN</h3>
@if (TempData["Message"] != null)
{
    <p class="alert alert-default-success">@TempData["Message"]</p>
}
<a asp-controller="User" asp-action="Create" class="btn btn-primary" style="width: auto;">+ Tạo tài khoản</a>
<hr />
<table id="tbUsers" class="table table-bordered table-hover table-primary">
    <thead class="thead-dark text-center">
        <tr>
            <th>Họ và tên</th>
            <th>Email</th>
            <th>Điện thoại</th>
            <th>Địa chỉ</th>
            <th>Vai trò</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var user in Model)
            {
                if (user.RolesName != "System Admin" && !user.IsDeleted)
                {
                    <tr>

                        <td>@user.FullName</td>
                        <td>@user.Email</td>
                        <td>@user.PhoneNumber</td>
                        <td>
                            @(user.Address + ", " + wards.Where(w => w.id == user.WardId).FirstOrDefault().WardName
                                           + ", " + districts.Where(d => d.id == user.DistrictId).FirstOrDefault().DistrictName
                                           + ", " + provinces.Where(p => p.id == user.ProvinceId).FirstOrDefault()._name)
                        </td>
                        <td>@user.RolesName</td>
                        <td>
                            <a asp-controller="User" asp-action="Edit" asp-route-id="@user.UserId" class="text-warning m-2" title="Cập nhật"><i class="fas fa-edit"></i></a>
                            <a href="javascript:void(0)" class="text-danger m-2" onclick="users.delete('@user.UserId')" title="Xóa"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

@section Scripts{
    <script src="~/lib/bootbox.js/bootbox.min.js"></script>
    <script src="~/js/user.js" asp-append-version="true"></script>
}