@model List<ProductViewModel>
@{
    ViewData["Title"] = "Product List";
}

<div class="text-left">
    <br />
    <h3 class="display-4 text-success text-center">QUẢN LÝ SẢN PHẨM</h3>
    <a asp-controller="Product" asp-action="Create" class="btn btn-primary" style="width: auto;">+ Thêm sản phẩm</a>
    <hr />
    <table id="tbProducts" class="table table-bordered table-hover table-primary">
        <thead class="thead-dark">
            <tr>
                <th>#ID</th>
                <th>Tên sản phẩm</th>
                <th>Phân loại</th>
                <th>Thương hiệu</th>
                <th>Đơn giá</th>
                <th>Số lượng</th>
                <th>Trạng thái</th>
                <th>Hình ảnh</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                var count = 0;
                if (!product.IsDelete)
                {
            <tr>
                <td>@product.ProductId</td>
                <td>@product.ProductName</td>
                <td>@product.CategoryName</td>
                <td>@product.BrandingName</td>
                <td>@product.Price.ToString("#,##0") ₫</td>
                <td>@product.Inventory</td>
                <td>@(product.Status?"Bán":"Dừng bán")</td>
                <td>
                    <img src="/img/@product.ImagePath" style="width: 60px; height: 70px;" />
                </td>
                <td>
                    <a asp-controller="Product" asp-action="Details" asp-route-id="@product.ProductId" class="text-primary"><i class="fas fa-eye"></i></a>
                    <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.ProductId" class="text-warning"><i class="fas fa-edit"></i></a>
                    <a href="javascript:void(0)" class="text-danger" onclick="products.delete(@product.ProductId)"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
                    count++;
                }
                if (count == 8) break;
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script src="~/lib/bootbox.js/bootbox.min.js"></script>
    <script src="~/js/product.js" asp-append-version="true"></script>
}